
*{font-family: serif;}

img{
  max-width:100%;
  height:auto;
}
/*section1*/
.landing{background-image: url(backgrounds/landing.jpg);height: 600px;}

.logo{max-width:30%; height: 30%;position: absolute; top: 10%; left: 50%;margin-right: -50%; transform: translate(-50%,50%);}

.landing-sentence{color:white;position: absolute; margin-top: -130px; margin-left: 43%;}

/*section3*/
.row{height: 250px; width: 100%; display: flex; flex-direction: row; position: absolute;}

.breakfast,.lunch,.dinner,.holder{height: inherit;width: 25%;font-weight: bold; color: white;}

.lunch{text-align: center; background-image: url("foodtop/lunch.jpg"); opacity: 0.2;font-style: italic;line-height: 250px;}

.dinner{text-align: center; background-image: url("foodtop/dinner.jpg");font-style: italic;line-height: 250px;}

.breakfast{text-align: center; background-image: url("foodtop/breakfast.jpg");font-style: italic;line-height: 250px;}

.holder1{background-color: #f0f0f0; color: #f15A29;}

.holder2{background-color: #f15A29;   }

.holder1,.holder2{height: 125px; line-height: 125px; font-weight: bold; color: white; text-align: center;}

/*section3*/
.sec3{display: flex;flex-direction: row;float:both;}

#fastfood{display: flex;flex-direction: column;width: 30% ;padding: 1%; border: 2px solid gray;margin-top: 350px;margin-left: 8%;}

#ffp{float: none;width: 30%; border: 1px solid white;margin-top: 350px;margin-left: 8% ;}

/*section4*/
.dpg{float: left;width: 30%; border: 1px solid white; margin-top: 5%;  margin-left: 8% ; text-align: right;}

.drinks{display: flex;flex-direction: row;width: 150px ;padding: 1%; margin-top: 2%;margin-right: 25%;margin-left: 8%;float: left;}

#fbg{ width: 100%;}

.section4{padding: 20px;}


/*section5*/

.gallerybackground{float: left;height:600px;}

.bar{ border: 2px solid blanchedalmond; border-collapse: collapse;position: absolute; top: 1800px; left: 150px;width: 70%; background-color: white;}

.imagebox ul{display: flex;flex-direction: row; position: absolute; top: 1810px; left: 150px; border: 2px solid white; padding: 30px; background-color: white;}

.bar tr th:nth-child(1){color: #F15A29;}

/*section6*/
.cm{border: 2px solid rgb(238, 227, 227); box-shadow: 2px 2px rgb(206, 192, 192);   width: 70%;  padding: 5%; display: flex; float: left; margin: 10%; background-color:white; position: relative;}

.customers{width: 80%;padding: 20px;float: left;border-right: 2px solid gainsboro;}

.c1,.c2,.c3,.a1,.a2{display: inline; padding: 2%;}

.a1,.a2{color: #F15A29;font-weight: 900;}

.Aboutmenu{width: 30%;padding: 20px;margin: 5px; }

h3{color: #F15A29 }


/*section7*/
.mail{ text-align: center;height: 300px;width: 100%;margin-top: 0;margin-bottom: 0;margin-left: 0%;margin-right: 0%;background-image: url(backgrounds/subscribe.jpg);background-repeat: no-repeat;display: inline-block;}
 
.formStyle {margin: 20px;background:rgba(250,250,250,0.5);padding: 6px; width: 40%; margin-bottom: 20px; border-bottom-width: 1px; border-bottom-style: none;border-bottom-color: #ecf0f1; border-top-style: none; border-right-style: none; border-left-style: none; font-size: 28px;font-weight: 100; color: #ffffff;border-radius: 5px;}
 
.formButton { margin: 20px;  background-color:#F15A29; display:inline-block; color:#ffffff; font-size:28px; font-weight: 500; padding:6px 50px; text-decoration:none; border-radius: 5px;}
 
.formButton:hover { background-color: #27ae60; color:#ffffff; }

h1.text{color: white}


/*section8*/
 .footer { background-color: #f15A29; display: flex; flex-direction: column; height: 100%;align-content: center;padding: 0%;}

.flogos{ display: flex;flex-direction: row;}

.logowhite{ display: inline-block;}

.footer{padding: 0; height: 400px; width:100%; background-color:#F15A29; }
 
.social{ text-align: center; margin-top: 0%; color: #ffffff; display: inline; }

.facebook, .twitter ,.pinterest{ display: inline; margin: 2%;  }

