/*base CSS rule for all images to make them automatically act responsively */
img{
  max-width:100%;
  height:auto;
}

.landing
    {
      position: relative;
      top: 0;
      left: 0;
    }
.logo
    {
      position: absolute;
      top: 10%;
      left: 40%;
      max-width: 20%;
    }

.lanlogo{
  display: flex;
 justify-content: center;
}

.landing-sentence{
  position: absolute;
  top: 50%; 
  left: 45%;
  color: white;
}
.foodtop{
  display: flex;
  flex-direction: row;
  padding: 0%;
}

.sec3{
  display: flex;
  flex-direction: row;
}

#fastfood{
  display: flex;
 flex-direction: column;
 width: 30% ;
 padding: 10%; 
}

#ffp{
  float: left;
  width: 30%;
}

#dp{
  float: left;
  width: 30%;
  padding: 10%;
}

#drinks{
  display: flex;
 flex-direction: row;
 width: 30% ;
 padding: 10%; 
}

#fbg{
  width: 100%;
}

/*image gallery*/
/* common styling */

a {color:#000;}
a:hover {text-decoration:none;}
a:visited {color:#000;}

/* slides styling */
.ffbg{
  background-image: url(backgrounds/foodsBg.jpg);
  max-width: 100%;
  height:500px;
  background-repeat: no-repeat;
}
.photo {max-width: 80%; text-align:left; position:relative;  
   margin:0 auto; 
  padding: 5%;}

 

.photo ul.topic {
  padding:0; margin:0; list-style:none; max-width: 80%; height: auto; position:relative; z-index:10; 
}
   


.photo ul.topic li {display:block; width:30%; height: 30%; float:left;}
.photo ul.topic li a.set {display:block; font-size:11px; width: 30%; height: 30%; text-align:center; line-height:80%; color:#000; text-decoration:none; border:1px solid #fff; border-width:1px 1px 0 0; background:#ccc; font-family:verdana, arial, sans-serif;}
 


.photo ul.topic li a ul, 
.photo ul.topic li ul 
{display:none;
 }

.photo ul.topic li.active a
{color:#000; background:transparent;}

.photo ul.topic li a:hover,
.photo ul.topic li:hover a
{color:#fff; background: transparent;}

.photo ul.topic li.active ul
{display:block; position:absolute; left:0; top:31px; list-style:none; padding:0; margin:0; height:auto; background:transparent; width:auto; padding:40px 60px; border:20px solid #bbb; z-index:1;}

.photo ul.topic li a:hover ul, 
.photo ul.topic li:hover ul
{display:block; position:absolute; left:0; top:31px; list-style:none; padding:0; margin:0; height:auto; background:transparent; width:auto; padding:40px 60px; border:20px solid #aaa; z-index:100;}

.photo ul.topic li ul li
{display:inline; width:112px; height:87px; float:left; border:1px solid #fff; margin:1px;}

.photo ul.topic li ul li a
{display:block; width:110px; height:85px; cursor:default; float:left; text-decoration:none; background:#444; border:1px solid #888;}

.photo ul.topic li ul li a img
{display:block; width:100px; height:75px; border:5px solid #eee;}

.photo ul.topic li a:hover ul li a:hover, 
.photo ul.topic li:hover ul li a:hover 
{white-space:normal; position:relative;}

.photo ul.topic li a:hover ul li a:hover img, 
.photo ul.topic li:hover ul li a:hover img 
{position:absolute; left:-50px; top:-32px; width:200px; height:150px; border-color:#fff;}


.cm{
  border: #000;
  width: 70%;
  border-style: solid;
  padding: 5%;
  display: flex;
  float: left;
  margin: 10%;


}

.customers{
 width: 80%;
 padding: 5%;
 float: left;
 border-right: 2px solid blue;
}

.Aboutmenu{
 width: 30%;
 padding: 10%;
 margin: 5%;
}
